@font-face {
    font-family: 'Impact';
    src: url(fonts/impact.ttf);
}

@font-face {
    font-family: 'Lobster';
    src: url(fonts/Lobster-Regular.ttf);
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: #61646B;
    margin: 0 auto;
    color: #FFF;
    font-family: 'Lobster';
}
.container {
    width: 1720px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    background-color: #313235;
    padding-left: 164px;
    padding-right: 164px;
    position: fixed;
    height: 111px;
}
a{
    color: #FFF;
}

a:hover{
    color: #8A8D93;
}
#logo{
    margin-right: 455px;
}


nav>a{
    text-decoration: none;
}

nav>a.p-l{
    padding-left: 27px;
}

#shopping-cart{
    margin-left:  300px;
}

.imageBox {
    position: relative;
    float: left;
  }

  .imageBox .hoverImg {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }

  .imageBox:hover .hoverImg {
    display: block;
  }

  .imageBox:hover .hoverImg {
      display: block;
  }

#cover{
    height: 900px;
    display: flex;
    align-items: center;
    background-image: url(images/main-images/cover-img.png);
    background-size: 800px;
    background-position-y: 70px;
    background-position-x: 1250px;
    background-repeat: no-repeat;
    padding-left: 164px;
    margin-bottom: 200px;
  }

  h1{
    font-family: 'Impact';
    font-size: 128px;
    text-shadow:0px 4px 4px rgba(0, 0, 0, 0.4);
    margin: 250px 0 0 0;
  }
  h2{
    font-family: 'Impact';
    font-size: 128px;
    text-shadow:0px 4px 4px rgba(0, 0, 0, 0.4);
    margin: 0;
  }

.block-desc{
    font-family: 'Impact';
    font-size: 64px;
    text-shadow:0px 5px 4px rgba(0, 0, 0, 0.5);
    margin: 20px 0 46px 0;
}


button{
    width: 524px;
    height: 101px;
    background-color: #3B7696;
    color: white;
    border-radius: 8px 8px;
    font-size: 24px;
    padding: 0;
    border: 2px solid #265974;
    font-family: 'Lobster';
    font-size: 64px;
}

button:hover{
    background-color: #5A84AC;
    border: 2px solid #385277;
}


#movie{
    height: 900px;
    display: flex;
    justify-content: right;
    text-align: right;   
    background-image: url(images/main-images/movie-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-right: 164px;
    padding-top: 455px;
  }

#movie-desc{
    font-size: 48px;
  }

#movie-btn{
    width: 435px;
    height: 92px;
    font-size: 48px;
}
