@font-face {
    font-family: 'Impact';
    src: url(fonts/impact.ttf);
}

@font-face {
    font-family: 'Lobster';
    src: url(fonts/Lobster-Regular.ttf);
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: #61646B;
    margin: 0 auto;
    color: #FFF;
    font-family: 'Lobster';
}
.container {
    width: 1720px;
}


#log-in-form{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.forms-container{
    border-radius: 15px 15px;
    margin: auto;
    width: 455px;
    height: 751px;
    background-color: #383A3E;
    padding: 0 197.5px;
}
header{
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    background-color: #313235;
    padding-left: 164px;
    padding-right: 164px;
    margin: 0 auto;
    position: fixed;
    height: 111px;
}
a{
    color: #FFF;
    transition: color 0.2s;
}

a:hover{
    color: #8A8D93;
}
#logo{
    margin-right: 455px;
}


.general-navigation>a{
    text-decoration: none;
}

.general-navigation>a.p-l{
    padding-left: 27px;
}

#shopping-cart{
    margin-left:  300px;
}

.imageBox {
    position: relative;
  }

  .imageBox .imageInn {
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.2s;
  }
  .imageBox:hover .imageInn {
    opacity: 0;
  }



#cover{
    height: 900px;
    display: flex;
    align-items: center;
    background-image: url(images/main-images/cover-img.png);
    background-size: 800px;
    background-position-y: 70px;
    background-position-x: 1275px;
    background-repeat: no-repeat;
    padding-left: 164px;
    margin-bottom: 200px;
  }

  h1{
    font-family: 'Impact';
    font-size: 128px;
    text-shadow:0px 4px 4px rgba(0, 0, 0, 0.5);
    margin: 250px 0 0 0;
    font-weight: 200;
  }

  h2{
    font-family: 'Impact';
    font-size: 96px;
    margin: 0;
    font-weight: 200;
  }
  h3{
    font-family: 'Impact';
    font-size: 128px;
    text-shadow:0px 4px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    font-weight: 200;
  }

  h4{
    font-size: 40px;
    font-weight: 400;
    margin: 0;
  }

.block-desc{
    font-family: 'Impact';
    font-size: 64px;
    text-shadow:0px 5px 4px rgba(0, 0, 0, 0.5);
    margin: 20px 0 46px 0;
    font-weight: 200;
}


button{
    width: 524px;
    height: 101px;
    background-color: #3B7696;
    color: white;
    border-radius: 8px 8px;
    padding: 0;
    border: 2px solid #265974;
    font-family: 'Lobster';
    font-size: 64px;
    transition: 0.2s;
}

button:hover{
    background-color: #5A84AC;
    border: 2px solid #385277;
}


#movie{
    height: 900px;
    display: flex;
    justify-content: right;
    text-align: right;   
    background-image: url(images/main-images/movie-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-right: 164px;
    margin-bottom: 250px;
  }

#movie-content{
    padding-top: 370px;
}

#movie-desc{
    font-size: 48px;
  }

#movie-btn{
    width: 435px;
    height: 92px;
    font-size: 48px;
}
#bestsellers{
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 200px;
    margin: 0 164px 100px  164px;
}
#bestsellers-images{
    background-color: #FFF;
    display: flex;
    margin-top: 20px;
}

.img-p-l{
    padding-left: 75px;
}


.bestsellers-imgs-with-hover{
    position: relative;
    width: fit-content;
    overflow: hidden;
}
.bestsellers-imgs-with-hover:hover{
    transform: scale(1.02);
    transition: 0.4s;
}
.bstslr-overlay:hover{
    opacity: 1;
    backdrop-filter: brightness(0.55);
    transition: 0.4s;
    transform: scale(1.02);
}

.bestsellers-image{
    display:block;
}

.bstslr-overlay{
    position: absolute;
    top: 0;
    left:0;
    width: 528px;
    height: 679px;
    opacity: 0;
}
.bstslr-btn{
    position: absolute;
    width: 325px;
    height: 56px;
    border-radius: 8px 8px;
    font-size: 32px;
    margin-left: 109px; 
    margin-top: 550px;
}


#about-us{
    padding-top: 111px;  
    font-weight: 500    ;
    margin-bottom: 200px;
    margin-left: auto; 
    margin-right: auto;
}
#about-us img{
    float: inline-end;
    position: relative;
    left: 164px;
    /*padding-left: 164px;*/
}

.about-us-content{
    padding-left: 164px;
    background-color: #383A3E;
}
#about-us-text{
    padding: 20px 0 0 0;
}
#about-us-text p{
    font-size: 40px;
    margin: 10px 0 0 0;
    font-weight: 500;
}

#lover-about-us-text {
    text-align: right;
    padding: 70px 0 42px 0;
}
#lover-about-us-text p{
    font-size: 32px;
    padding-top: 10px;
    line-height: 50px;
}
#delivery-and-payment{
    padding-top: 111px; 
    margin-bottom: 200px;
}

.delivery-and-payment-content img{
    padding-top: 40px;
    width: 603px;
    height: 509px;
    margin:  0 73px;
}

.container-1{
    background-color: #383A3E;
}
#payment-text{
    float: right;
}
.delivery-and-payment-content{
    display: flex;
    padding-right: 164px;
    padding-left: 164px;
    padding-top: 50px;
    margin: 0 auto;
    padding-bottom: 50px; 
    width: 1543px;
}


.delivery-and-payment-content h5, li{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 36px;
    font-weight: lighter;
    margin: 0;
}
.p-b{
    padding-bottom: 35px;
}
#d-p-desc{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    margin: 0;
    font-weight: lighter;
    color: rgba(222, 222, 222, 1);
}

#delivery-text li p{
    font-family: 'Lobster';
    font-size: 32px;
    margin: 0;
}
ul{
    margin: 0;
}

#contacts ul{
    list-style-type: none;
}

#social-media-icons{
    float: left;
}
.social-media-icon{
    padding-bottom: 30px;
}
#contacts-links{
    margin-top: 20px;

}
#contacts-links a{
    padding-left: 40px;
}

.p-t{
    padding-top: 25px;
}
#contacts-links li{
    padding-bottom: 50px;
}
#maps-icons{
    float: right;
}
#maps{
    padding-left: 250px;
}
.maps-icon{
    padding-bottom: 30px;
}
#maps-links li{
    padding-bottom: 70px;
    text-align: end;
}

#contacts{
    padding-top: 111px; 
    margin-bottom: 200px;
    margin-left: auto; 
    margin-right: auto;
}
.contacts-content{
    display: flex;
    background-color: #383A3E;
    margin-left: auto; 
    margin-right: auto;
    padding-top: 55px;
    padding-bottom: 100px;
}
#socials{
    padding-left: 100px;
}
#socials ul{
    padding-top: 40px;
}
#maps ul{
    padding-top: 40px;
}

#our-adress{
    position: absolute;
    transform: translate(-50%);
    left: 60%;
    padding-top: 150px;
}
#our-adress p{
    font-size: 32px;
    padding-left: -100px;
    position: relative;
    bottom: 20px;
    right: 170px;
}


footer{
    height: 436px;
    font-size: 36px;
    display: flex;
    background-color: #313235;
    align-items: center;
}

.footer-content{
    position: absolute;
    transform: translate(-50%);
    left: 50%;
}

.footer-content li{
    display: inline;
}
.footer-content li img{
    height: 75px;
}

#footer-imgs{
    display: flex;
    padding-top: 70px;
}
.p-l-1{
    padding-left: 30px;
}
.p-r{
    padding-right: 30px;
}
#footer-logo{
    height: 128px;
    padding-left: 50px;
}
.p-b p{
    text-align: end;
    padding-right: 50px;
}

.log-in-form-content h6{
    font-size: 40px;
    text-shadow:0px 4px 4px rgba(0, 0, 0, 0.5);
    font-weight: 500;
    margin: 0;
}


.log-in-form-content button{
    width: 325px;
    height: 56px;
    font-size: 32px;
}

#login-desc p{
    margin: 0;
}

#login-desc{
    display: flex;
}

.n-l{
    text-decoration: none;
}


form{
    display: flex;
    flex-direction: column;
    width: 455px;
}

input{
    height: 51px;
    padding-left: 20px;
    margin-bottom: 14px;
    font-family: "Impact";
    font-weight: 100;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.42);
    border: 1px solid #000000;
    border-radius: 2px 2px;
}
input:focus{

    outline: none;
    border: 2px solid #000000;
    color: rgba(255, 255, 255, 0.71);
    border-radius: 3px 3px;
}

input:active{  
    outline: none;
    border: 2px solid #000000;
    color: rgba(255, 255, 255, 0.71);
    border-radius: 3px 3px;
}

::placeholder{
    color: rgba(255, 255, 255, 0.71);
}
input:not([value='']), textarea:not([value='']){
    color: rgba(255, 255, 255);
}

#log-in-inner{
    position: absolute;
    transform: translate(-50%);
    left: 50%;
}